.repos > li ul,
#filters {
  display: flex;
  padding: 10px 0 20px;
}

#filters li {
  padding: 3px 15px;
  cursor: pointer;
  border-radius: 50px;
  border: 1px solid rgb(221, 232, 241);
  color: #797979;
  transition: .3s ease;
}
#filters li.selected {
  border: 1px solid rgba(59, 217, 208, 0);
  background: rgba(59, 217, 208, 0.1);
  color: #3bd9d0;
}

.repos > li li:not(:first-child),
#filters li:not(:first-child) {margin-left: 5px}

.repos > li li {
  border-radius: 50px;
  border: 1px solid rgb(221, 232, 241);
  color: #797979;
  padding: 0 10px;
}
.repos > li li.filterOn {
  border: 1px solid rgba(59, 217, 208, 0);
  background: rgba(59, 217, 208, 0.1);
  color: #3bd9d0;
}
.repos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 80px;
}
.repos > li {
  width: 305px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(156, 167, 184,.1);
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  margin: 15px 15px 15px 0;
}

.repos > li h3 a {
  color: #434a55;
  font-size: 35px;
}
.repos > li h3 { line-height: 30px }


#Github_header { padding: 120px 0}
#Github_header h1 {
  font-size: 90px;
  line-height: 86px;
}
#Github_header h1 strong {
  background: linear-gradient(to right,#fce4ed,#ffe8cc);
  font-family: 'xtra';
  transform: translateY(5px);
  line-height: 50px;
  display: inline-block;
  padding: 0 20px;
}
