/*reset*/
@import "../../../guardians/styles/css/mosk.css";
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
a,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
}
html,
body {
  height: 100%;
}
.clear {
  clear: both;
}
a,
button,
a:hover,
*:active,
*:focus,
*:selected,
*:visited {
  outline: none !important;
  border: none;
  text-decoration: none;
}
/*triangles*/
.mosk900 {
  font-family: 'MoskUltra-Bold900';
  font-weight: 900;
}
.mosk700 {
  font-family: 'MoskBold700';
  font-weight: 700;
}
.mosk200 {
  font-family: 'MoskExtra-Light200';
  font-weight: 200;
}
body {
  background: url(../../img/bg01.png) no-repeat center center #bccbe6;
  z-index: 0;
  font-size: 20px;
  color: #fff;
  font-style: italic;
  overflow: hidden;
}
.shadow {
  position: absolute;
  background: url(../../img/bg.png) no-repeat center center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.wrapper {
  position: relative;
  z-index: 1;
  width: 1000px;
  margin: auto;
  padding-top: 100px;
  box-sizing: border-box;
  height: 100%;
}
.wrapper h1 {
  -webkit-transition: all 0.05s ease-in-out 0s;
  -moz-transition: all 0.05s ease-in-out 0s;
  -o-transition: all 0.05s ease-in-out 0s;
  transition: all 0.05s ease-in-out 0s;
  font-family: 'MoskExtra-Light200';
  font-weight: 200;
  font-size: 17em;
  letter-spacing: -20px;
  line-height: .7em;
  position: absolute;
  left: -60px;
  top: 80px;
  display: inline-block;
  opacity: .8;
}
.wrapper sup {
  font-size: .2em;
  font-family: 'MoskBold700';
  font-weight: 700;
  position: absolute;
  right: -60px;
  top: 10px;
}
.wrapper h2 {
  -webkit-transition: all 0.05s ease-in-out 0s;
  -moz-transition: all 0.05s ease-in-out 0s;
  -o-transition: all 0.05s ease-in-out 0s;
  transition: all 0.05s ease-in-out 0s;
  font-size: 2em;
  width: 400px;
  font-family: 'MoskExtra-Light200';
  font-weight: 200;
  position: absolute;
  left: 0px;
  top: 400px;
  text-align: right;
}
.wrapper h2 strong {
  font-family: 'MoskUltra-Bold900';
  font-weight: 900;
}
.wrapper h2 + h2 {
  top: 440px;
}
.wrapper img {
  -webkit-transition: all 0.05s ease-in-out 0s;
  -moz-transition: all 0.05s ease-in-out 0s;
  -o-transition: all 0.05s ease-in-out 0s;
  transition: all 0.05s ease-in-out 0s;
  position: absolute;
}
.wrapper img:nth-of-type(1) {
  left: -180px;
  top: -12px;
}
.wrapper img:nth-of-type(2) {
  left: -90px;
  top: 67px;
}
.wrapper img:nth-of-type(3) {
  left: -40px;
  top: 80px;
}
.wrapper img:nth-of-type(4) {
  left: 200px;
  top: 270px;
}
.wrapper img:nth-of-type(5) {
  right: -110px;
  bottom: 180px;
}
.wrapper img:nth-of-type(6) {
  right: -180px;
  bottom: 100px;
}
.ff .wrapper sup {
  font-size: .2em;
  font-family: 'MoskBold700';
  font-weight: 700;
  position: absolute;
  right: -80px;
  top: 70px;
}
body.u_900,
body.u_900 .shadow {
  background-size: auto 100%;
}
.lt-1024 body,
.lt-1024 .shadow {
  background-size: auto 100%;
}
.lt-1024 .wrapper {
  width: 80%;
}
.lt-640 body {
  background: url(../../img/res.png) no-repeat center center #bccbe6;
  background-size: 100% auto;
}
.lt-640 .shadow,
.lt-640 .wrapper {
  display: none;
}
