.Flute,
.BrushTeeth {
    flex:1;
    position: relative;
}

.BrushTeeth video {
    filter:contrast(1.2) brightness(1.1) saturate(1.3);
    height: 75vh;
}

.Flute  {
    width: 70vh;
    height: 70vh;
    margin-right: 15px;
    /* overflow: hidden; */
}
.Flute video {
    height: 100%;
}
.Flute video,
.BrushTeeth video {
    cursor: pointer;
    border-radius:30px;
}
.Flute nav,
.BrushTeeth nav {
    position: absolute;
    top : 15px;
    left: 15px;
    display: flex;
    gap: 10px;
    width: 100%;
    width: 25px;
}

.Flute button,
.BrushTeeth button {
    background: none !important;
    padding: 0 !important;
}

.Flute button:hover,
.BrushTeeth button:hover {
    opacity: .6;
}

.Flute img,
.BrushTeeth img {
    width: 25px;
}

.Flute .pause,
.BrushTeeth .pause {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.4);
    border-radius:30px;
}

.Flute .pause img,
.BrushTeeth .pause img {
    width: 150px;
}