main.illus {
  display: flex;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  flex-direction: column;
  justify-content: center;
}

.illus button {
  background: linear-gradient(to right, #09fddf , #3cdcff);
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}
.illustrations {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: 0.7s ease .03s;
  height: 100vh;
  cursor: grab;
}

.illustrations li {
  flex:1;
  background-size:cover;
  background-position:center;
  min-height: 700px;
}

.illustrations li img {
  width: 800px;
  cursor: pointer;
  height: 100%;
  object-fit:cover;
  object-position:center;
  opacity:0;
  transition: .2s;
}

.illustrations li.loaded img {
  opacity:1
}

.imageDescription{ display: none}

.NextPrv {
  position: absolute;
  width: 100%;
  top: 50%;
}
.NextPrv button {
  position: absolute;
  z-index: 2;
  top: 0;
  cursor: pointer;
}
.NextPrv button[disabled] {
  opacity: 0;
  cursor: not-allowed;
}
.NextPrv button#prv { left: 60px }
.NextPrv button#nxt { right: 60px }
