main.illus {
  display: flex;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 0;
  flex-direction: column;
  justify-content: center;
}

.illus button {
  background: linear-gradient(to right, #09fddf , #3cdcff);
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}
.illustrations {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: 0.7s ease .03s;
  height: 100vh;
  cursor: grab;
}

.illustrations li {
  flex:1;
  background-size:cover;
  background-position:center;
  min-height: 400px;
  border-radius: 30px;
  background-color:#a89bc1;
}
.illustrations li:nth-of-type(1) {
  background-color:#a89bc1;
}
.illustrations li:nth-of-type(2) {
  background-color:#e5f1f3;
}
.illustrations li:nth-of-type(3) {
  background-color:#a4b3c7;
}
.illustrations li:nth-of-type(4) {
  background-color:#f6fafd;
}
.illustrations li:nth-of-type(5) {
  background-color:#e4d7de;
}
.illustrations li:nth-of-type(6) {
  background-color:#000002;
}
.illustrations li:nth-of-type(7) {
  background-color:#273461;
}
.illustrations li:nth-of-type(8) {
  background-color:#dde4e9;
}
.illustrations li:nth-of-type(9) {
  background-color:#e7e6f1;
}
.illustrations li:nth-of-type(10) {
  background-color:#c8d9e2;
}
.illustrations li:nth-of-type(11) {
  background-color:#c3c2ce;
}
.illustrations li:nth-of-type(12) {
  background-color:#d3cdd3;
}
.illustrations li:nth-of-type(13) {
  background-color:#dfeaec;
}
.illustrations li:nth-of-type(14) {
  background-color:#6aa446;
}

.illustrations li img {
  border-radius: 30px;
  width: 800px;
  cursor: pointer;
  height: 100%;
  object-fit:cover;
  object-position:center;
  opacity:0;
  transition: .2s;
}


.illustrations li.loaded img {
  opacity:1
}

.imageDescription{ display: none}

.NextPrv {
  position: absolute;
  width: 100%;
  top: 50%;
}
.NextPrv button {
  position: absolute;
  z-index: 2;
  top: 0;
  cursor: pointer;
}
.NextPrv button[disabled] {
  opacity: 0;
  cursor: not-allowed;
}
.NextPrv button#prv { left: 60px }
.NextPrv button#nxt { right: 60px }
