#load{text-align: center}
.load {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 64px;
  height: 64px;
}
.load i {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #555;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.load i:nth-child(1) {
  left: 6px;
  animation: load1 0.6s infinite;
}
.load i:nth-child(2) {
  left: 6px;
  animation: load2 0.6s infinite;
}
.load i:nth-child(3) {
  left: 26px;
  animation: load2 0.6s infinite;
}
.load i:nth-child(4) {
  left: 45px;
  animation: load3 0.6s infinite;
}
@keyframes load1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes load3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes load2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
