main#nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
nav {
  margin: 0 auto;
  width: 1000px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 20px 0;
}

nav li a {
  padding: 0 15px;
  color: #2d343b;
  transition: .2s ease;
  font-size: 9px;
  text-transform: uppercase;
}
nav li:first-child a {padding-left: 0 }
nav li a:hover { color: #12dec6 }
main#nav.top nav li a:hover,
main#nav.top nav li a {color: rgba(255,255,255,.8)}

@media(max-width: 800px){#nav{display: none}}
